* {
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
}

.contenedor-fluid {
  display: grid;
  row-gap: 125px;
  margin: 5px;
}
.contenedor-fluid .navbar {
  margin-left: 5px;
  margin-right: 5px;
}
.contenedor-fluid .general {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.contenedor-fluid .general h1, .contenedor-fluid .general img, .contenedor-fluid .general h2 {
  margin: 15px;
}
.contenedor-fluid .main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-fluid .main #carouselExampleCaptions, .contenedor-fluid .main .carousel-inner, .contenedor-fluid .main img {
  width: 600px;
  height: 600px;
}
.contenedor-fluid .section {
  display: grid;
  grid-template-areas: "aside article";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.contenedor-fluid .section .aside {
  grid-area: aside;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.contenedor-fluid .section .article {
  grid-area: article;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.contenedor-fluid .footer {
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.contenedor-fluid .footer .footer-animacion, .contenedor-fluid .footer h3, .contenedor-fluid .footer img {
  margin: 15px;
}
.contenedor-fluid .footer .footer-animacion li, .contenedor-fluid .footer h3 li, .contenedor-fluid .footer img li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.contenedor-fluid .galeria-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  row-gap: 250px;
}
.contenedor-fluid .galeria-container .galeria-item {
  width: 450px;
  height: 450px;
  position: relative;
  margin: 30px;
}
.contenedor-fluid .galeria-container h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
}
.contenedor-fluid .galeria-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-fluid .main-estudio {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "main-item-1 main-item-2" "main-item-3 main-item-4" "main-item-5 main-item-6";
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 150px;
}
.contenedor-fluid .main-item-1 {
  grid-area: main-item-1;
}
.contenedor-fluid .main-item2 {
  grid-area: main-item-2;
}
.contenedor-fluid .main-item-3 {
  grid-area: main-item-3;
}
.contenedor-fluid .main-item-4 {
  grid-area: main-item-4;
}
.contenedor-fluid .main-item-5 {
  grid-area: main-item-5;
}
.contenedor-fluid .main-item-6 {
  grid-area: main-item-6;
}
.contenedor-fluid p {
  margin: 30px;
}
.contenedor-fluid .main-contacto {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor-fluid .main-contacto .contacto-form {
  width: 500px;
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.contenedor-fluid .main-contacto .contacto-form form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.contenedor-fluid .main-contacto .contacto-maps {
  width: 500px;
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.contenedor-fluid .main-contacto .contacto-maps h2 {
  padding-bottom: 20px;
}

.containerslides {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerslides .container_slides {
  height: 80%;
  display: grid;
  place-items: center;
}
.containerslides .container_slides #carouselExample, .containerslides .container_slides img {
  width: 600px;
  height: 600px;
}
.containerslides .container_slides .imgbook-botones {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

body {
  font-family: "Permanent Marker", cursive, Arial, Helvetica, sans-serif;
}
body h1 {
  font-size: 50px;
}
body h2 {
  font-size: 20px;
}
body h3 {
  font-size: 16px;
}
body p {
  font-family: "Gochi Hand", cursive, Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 2rem;
  word-spacing: 10px;
}

body {
  color: #f2f2f2;
  background-color: #0d0d0d;
}
body a {
  text-decoration: none;
  color: #f2f2f2;
}

.contenedor-fluid {
  background-image: url(../img/img-fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contenedor-fluid * {
  padding: 0%;
  margin: 0%;
}

.header .container-fluid {
  background-color: rgb(33, 33, 33);
}
.header .container-fluid .nav-link {
  color: #f2f2f2;
}

.carousel {
  filter: grayscale(0.8);
}
.carousel:hover {
  filter: grayscale(0);
}
.carousel img {
  object-fit: cover;
}

.galeria-container {
  border: solid 1px;
  border-color: linear-gradient(rgb(34, 34, 34), rgb(52, 52, 52), rgb(100, 100, 100), rgb(150, 150, 150));
}
.galeria-container h3 {
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.main-contacto .contacto-form {
  border: solid 1px;
  border-color: linear-gradient(rgb(34, 34, 34), rgb(52, 52, 52), rgb(100, 100, 100), rgb(150, 150, 150));
  margin: 20px;
}
.main-contacto .contacto-maps {
  border: solid 1px;
  border-color: linear-gradient(rgb(34, 34, 34), rgb(52, 52, 52), rgb(100, 100, 100), rgb(150, 150, 150));
  margin: 20px;
}

.header img {
  border-radius: 80px;
  height: 60px;
}

.main .carousel-item, .main img {
  border-radius: 30px;
  height: 600px;
}

.general img {
  border-radius: 80px;
  height: 150px;
}

.section img, .section iframe {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.footer img {
  border-radius: 80px;
  height: 60px;
}

.galeria-container {
  margin: 40px;
  padding: 40px;
}
.galeria-container img {
  border-radius: 30px;
  filter: blur(1.5px);
}
.galeria-container img:hover {
  filter: blur(0px);
}

.main-estudio img, .main-estudio iframe {
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  border: 30px;
  height: 500px;
  width: 500px;
  border-radius: 30px;
  object-fit: cover;
}

.main-contacto .contacto-maps .map {
  height: 300px;
  border-radius: 30px;
}

@media only screen and (max-width: 550px) {
  .contenedor-fluid {
    background-position: -475px 0;
  }
  .contenedor-fluid .general {
    width: 95%;
  }
  .contenedor-fluid .general h1 {
    font-size: 30px;
  }
  .contenedor-fluid .general h2 {
    font-size: 18px;
    text-align: center;
  }
  .contenedor-fluid .main #carouselExampleCaptions, .contenedor-fluid .main .carousel-inner, .contenedor-fluid .main img {
    width: 300px;
    height: 300px;
  }
  .contenedor-fluid .section {
    grid-template-areas: "aside" "article";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .contenedor-fluid .aside {
    grid-area: aside;
  }
  .contenedor-fluid .aside p {
    font-size: 16px;
  }
  .contenedor-fluid .article {
    grid-area: article;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .contenedor-fluid .article img, .contenedor-fluid .article iframe {
    margin: 60px;
  }
  .contenedor-fluid .footer h2 {
    font-size: 18px;
  }
  .contenedor-fluid .footer .footer-animacion {
    max-width: auto;
    pointer-events: visible;
  }
  .contenedor-fluid .footer .footer-animacion .mensaje, .contenedor-fluid .footer .footer-animacion .linea {
    display: none;
  }
  .contenedor-fluid .footer .footer-animacion .lista-item {
    opacity: 1;
    transform: translateY(0rem);
  }
  .contenedor-fluid .galeria-container {
    display: flex;
    flex-flow: column nowrap;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  .contenedor-fluid .galeria-container .galeria-item {
    width: 300px;
    height: 300px;
  }
  .contenedor-fluid .main-estudio {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "main-item-1" "main-item-2" "main-item-4" "main-item-3" "main-item-5" "main-item-6";
  }
  .contenedor-fluid .main-estudio img, .contenedor-fluid .main-estudio iframe {
    border: 30px;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    object-fit: cover;
  }
  .contenedor-fluid .main-contacto {
    flex-flow: column nowrap;
    justify-content: center;
    column-gap: 20px;
  }
  .contenedor-fluid .main-contacto .contacto-form, .contenedor-fluid .main-contacto .contacto-maps {
    padding: 5px;
    width: 425px;
    height: auto;
  }
  .containerslides .container_slides #carouselExample, .containerslides .container_slides img {
    border-radius: 30px;
    width: 400px;
    height: 400px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 980px) {
  .contenedor-fluid {
    background-position: -200px 0;
  }
  .contenedor-fluid .galeria-container {
    display: flex;
    flex-flow: column nowrap;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  .contenedor-fluid .galeria-container .galeria-item {
    width: 300px;
    height: 300px;
  }
  .contenedor-fluid .galeria-container {
    display: flex;
    flex-flow: column nowrap;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  .contenedor-fluid .galeria-container .galeria-item {
    width: 400px;
    height: 400px;
  }
  .contenedor-fluid .main-estudio img, .contenedor-fluid .main-estudio iframe {
    border: 30px;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
  }
}
.navbar-brand img:hover {
  animation-name: rotacion;
  animation-duration: 1s;
}
@keyframes rotacion {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.nav-link:hover {
  border-radius: 30px;
  transform: scale(0.9);
  background-image: linear-gradient(to right, rgb(12, 12, 12), rgb(27, 27, 27), rgb(53, 53, 53), rgb(84, 84, 84), rgb(122, 122, 122));
}

.main .carousel {
  filter: grayscale(0.8);
}
.main .carousel:hover {
  filter: grayscale(0);
}

.footer .footer-animacion {
  max-width: 60rem;
  max-height: auto;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.footer .footer-animacion:hover {
  pointer-events: auto;
}
.footer .mensaje {
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto;
}
.footer .linea {
  width: 15rem;
  height: 4px;
  background-color: #fff;
  margin-left: 2rem;
  margin-right: auto;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
}
.footer .footer-animacion:hover .linea {
  transform: scaleX(1);
}
.footer .lista-item {
  display: flex;
  list-style: none;
}
.footer .lista-item {
  margin-inline: 2rem;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.footer .lista-item:nth-child(odd) {
  transform: translateY(2rem);
}
.footer .lista-item:nth-child(even) {
  transform: translateY(-2rem);
}
.footer .footer-animacion:hover .lista-item {
  opacity: 1;
  transform: translateY(0);
}
.footer .lista-link {
  font-size: 30px;
}
.footer .lista-link i {
  transition: color 0.5s;
}
.footer .lista-link:hover i.fa-facebook-f {
  color: #3b5998;
}
.footer .lista-link:hover .fa-twitter {
  color: #1da1f2;
}
.footer .lista-link:hover .fa-whatsapp {
  color: #85e27b;
}
.footer .lista-link:hover .fa-instagram {
  color: #a948b1;
}

.galeria-container img {
  filter: blur(1.5px);
}
.galeria-container img:hover {
  filter: blur(0px);
}

/*# sourceMappingURL=estilos.css.map */
