//variables tamaños de imagenes y videos
$img-logo: 60px ;
$img-article: 300px;
$img-carousel: 600px;
$img-gral: 150px;
$border-logo: 80px;
$border-carousel:30px;
$img-estudio: 500px;

.header 
{  
    img 
    {
        border-radius: $border-logo;
        height: $img-logo;
    }
}
.main
{   .carousel-item, img 
    {
        border-radius: $border-carousel;
        height: $img-carousel;
    }
}
.general
{
    img 
    {
        border-radius: $border-logo;
        height: $img-gral;
    }
}
.section
{
    img, iframe 
    {
        border-radius: $border-carousel;
        height: $img-article;
        width: $img-article;
        object-fit: cover;
    }
}
.footer
{
    img 
    {   
        border-radius: $border-logo;
        height: $img-logo;
    }
}
//book
.galeria-container
{
    margin: 40px;
    padding: 40px;
    img 
    {
        border-radius: $border-carousel;  
        filter: blur(1.5px);    
            &:hover
            {
                filter: blur(0px);
            }       
    }
}
//estudio
.main-estudio
{
    img , iframe 
    {
        filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
        border: $border-carousel;
        height: $img-estudio;
        width: $img-estudio ;
        border-radius: $border-carousel;
        object-fit: cover;
    }
}
//contacto
.main-contacto
{
    .contacto-maps 
    {
        .map 
            {
                height: $img-article;
                border-radius: $border-carousel ;
            }  
    }
}
