//*web responsive
@media only screen and (max-width: 550px)
{   
    .contenedor-fluid 
    {
        background-position: -475px 0; 
        .general
        {
            width: 95%;
            h1 
            {
                font-size: $tamano-h1-r;
            }
            h2 
            {
                font-size: $tamano-h2-r;
                text-align: center;
            }
            
        }
        .main
        {
            #carouselExampleCaptions, .carousel-inner, img
            {
                width: 300px;
                height: 300px;
            }   
        }
        .section
        {   
            grid-template-areas: "aside"
                                "article";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }
        .aside
        {   
            grid-area: aside;
            p 
            {
                font-size: $tamano-p-r;
            }
        }
        .article
        {   
            grid-area: article;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content:center;
            img, iframe 
            {
                margin: 60px;
            }
            
        }
        .footer
        {
            h2 
            {
                font-size: $tamano-h2-r;
            }
            .footer-animacion
            {
                max-width: auto;
                pointer-events:visible;
                .mensaje , .linea 
                {
                    display: none;
                }
                .lista-item 
                {
                  opacity: 1;
                  transform: translateY(0rem);
                }
            }           
        }
        //book
        .galeria-container
        {
            display: flex;
            flex-flow: column nowrap;
            border: none;
            justify-content: center;
            align-items: center;
            margin: 0%;
            padding: 0%;
            .galeria-item 
            {
               width: $img-article;
               height: $img-article;
            }
        } 
        //estudio
        .main-estudio
        {
            grid-template-columns: auto ;
            grid-template-rows: auto auto auto auto auto auto ;
            grid-template-areas: "main-item-1"
                              "main-item-2"
                              "main-item-4"
                              "main-item-3"
                              "main-item-5"
                              "main-item-6"; 
            img , iframe 
            {
                 border: $border-carousel;
                 height:$img-article;
                 width: $img-article ;
                 border-radius: $border-carousel;
                 object-fit: cover;
            }                
        }
        //contacato
        .main-contacto
        {
            flex-flow: column nowrap;
            justify-content:center;
            column-gap: 20px;
            .contacto-form, .contacto-maps
            {
                padding: 5px;
                width: 400px;
                height: auto;
            }          
        }           
    }
    .containerslides 
    {
     .container_slides
        { 
            #carouselExample, img 
            {
                border-radius: $border-carousel;
                width: 400px;
                height: 400px;
            }
        }
    }
}    
@media only screen and (min-width: 551px) and (max-width: 980px)
{
    .contenedor-fluid
    {
        background-position: -200px 0; 
        .galeria-container
        {
            display: flex;
            flex-flow: column nowrap;
            border: none;
            justify-content: center;
            align-items: center;
            margin: 0%;
            padding: 0%;
            .galeria-item 
            {
               width: $img-article;
               height: $img-article;
            }
        }
         //book
         .galeria-container
        {
             display: flex;
             flex-flow: column nowrap;
             border: none;
             justify-content: center;
             align-items: center;
             margin: 0%;
             padding: 0%;
             .galeria-item 
             {
                width: 400px;
                height: 400px;
             }
        }
        //estudio
        .main-estudio
        {
           
            img , iframe 
            {
                 border: $border-carousel;
                 height: 350px;
                 width: 350px ;
                 border-radius: $border-carousel;
                 object-fit: cover;
            }                
        }  
    } 
}
