//variable
$tipo-letra-p: 'Gochi Hand', cursive, Arial, Helvetica, sans-serif;
$tipo-letra-t: 'Permanent Marker', cursive, Arial, Helvetica, sans-serif;
$tamano-h1: 50px;
$tamano-h2: 20px;
$tamano-h3: 16px ;
$tamano-p: 15px; 
//responsive
$tamano-h1-r: 30px;
$tamano-h2-r: 18px;
$tamano-h3-r: 16px;
$tamano-p-r: 16px; 
body 
{
    font-family: $tipo-letra-t;
    h1 
    {
        font-size: $tamano-h1;
    }
    h2 
    {
        font-size: $tamano-h2;
    }
    h3 
    {
        font-size: $tamano-h3;
    }
    p 
    {
        font-family: $tipo-letra-p;
        font-size: $tamano-p;
        text-align: justify;
        line-height: 2rem; 
        word-spacing: 10px;       
    }
} 